.registerLogo{
    
    padding-bottom: 10px;
}

.form-group{
    opacity: 75%;
    margin: 5px;
}

#register-form {
    
    float: left;
    position: relative;
    /* height: 100vh; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 6%;
    width: 600px;
}

#btnRegister{
    margin-top: 2px;
    font-family: SpicyPumpkin;
    font-size: 35px;
    width: 160px;
    border-radius: 18px;
    opacity: 80%;
}

.invalid-feedback{
    max-width: 100%;
    padding: .25rem .5rem;
    margin-top: 5px;
    font-size: .875rem;
    color: #fff;
    background-color: rgba(220,53,69,.9);
    border-radius: .25rem;
}

.modal-content {
    background-color: #212529;
 }
 .list-group-item{
     border :none;
 }
  /* ------FOOTER AND VIDEO CSS --------------------------------------------------------------------------------------- */
#navSettings{
    margin-left: auto;
    font-family: Myrlissa;
    font-size: 40px;
    margin-right: 50px;
}

#navSearch{
    border-radius: 20px;
}

#navConnection, #navGallery {
    
    font-family: Myrlissa;
    font-size: 60px;
}

.container-fluid{
    display: flex;
}

#navLogo{
    height: 120px;
    width: 225px;
}


#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap{
    padding-bottom: 150px;
}
#myVideo{
    position: absolute;
    right: 0;
    bottom : 0;
    min-width : 100%;
    min-height: 100%;
    z-index: -1;
}

.footer{
    background-color: #282828;
    bottom: 0;
    width: 100%;
}
.flexbox-container{
    display: flex;
}


#copyright{
    font-family: SpicyPumpkin;
    font-size: 20px;
    margin-left: 200px;
    margin-top: 75px;
}

.flexbox-item{
    margin-top: 25px;
}

.flexbox-item-1{ /* Copyright*/
    float :left;
    width: 1000px;
}

#footerText{
    width: 600px;
    height: 100px;
    margin-top : 25px;
    margin-left: 250px;
    font-family: Myrlissa;
    font-size: 80px;
    float: right;
}
#footerLogo{
    margin-top: 10px;
    float: left;
}

/* ---------------------------END OF FOOTER AND VIDEO CSS-------------------------------------------------------------------------- */

@font-face {
    font-family: "SpicyPumpkin"; /*a name to be used later*/
    src: url('../ttf/Spicy\ Pumpkin.ttf'); /*URL to font*/
}

@font-face {
    font-family: "Myrlissa"; /*a name to be used later*/
    src: url('../ttf/Myrlissa\ -\ Personal\ Use.otf'); /*URL to font*/
}