#myVideo{
    position: fixed;
    right: 0;
    bottom : 0;
    min-width : 100%;
    min-height: 100%;
}

#sticky-footer{
    position: fixed;
    height: 150px;
    width: 100%;
    background-color: #282828;
    bottom: 0;
    left: 0;
}

.flexbox-container{
    display: flex;
}
#footerText{
    font-family: Myrlissa;
    font-size: 80px;
    float:right;
    margin-left: 80px;
    margin-right: 20px;
}

#copyright{
    font-family: SpicyPumpkin;
    font-size: 20px;
    margin-left: 200px;
    margin-top: 60px;
}

.flexbox-item-1{
    float :left;
    width: 400px;
}

.flexbox-item-2 {
    width: 600px;
    margin: 10px;
    height: 100px;
    margin-left: 200px;
}


#footerLogo{
    margin-top: 10px;
    float: left;
}
#sticky-footer {
    flex-shrink: none;
  }
  

  @font-face {
    font-family: "SpicyPumpkin"; /*a name to be used later*/
    src: url('../ttf/Spicy\ Pumpkin.ttf'); /*URL to font*/
}

@font-face {
    font-family: "Myrlissa"; /*a name to be used later*/
    src: url('../ttf/Myrlissa\ -\ Personal\ Use.otf'); /*URL to font*/
}