
html{
    width: 100%;
    height: 100%;
}

body{
    background-color: #133432;
    background-image: url("../media/img/settings.jpg");
}
.card{
    margin-top: 150px;
    margin-bottom: 125px;
    margin-left: 30%;
    
}
#v-pills-tab, #v-pills-tabContent{
    position: relative;
    margin-top: 250px;
    margin-left : 100px;
    background-color: transparent;
    color : white;
    
}
#v-pills-password-tab, #v-pills-profile-tab, #v-pills-picture-tab, #v-pills-social-tab{
    
   border : 2px solid black;
   margin : 5px;
   margin-left: -200px;
   background-color : teal;
   color: white;
}

.form-group{
    opacity: 75%;
    margin: 5px;
}

#register-form {
    float: left;
    position: relative;
    /* height: 100vh; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 6%;
    width: 600px;
}
/* ------NAVBAR, FOOTER AND VIDEO CSS --------------------------------------------------------------------------------------- */

 #navSettings{
    margin-left: auto;
    font-family: Myrlissa;
    font-size: 40px;
    margin-right: 50px;
}

#navSearch{
    border-radius: 20px;
}

#navLogin, #navGallery {
    
    font-family: Myrlissa;
    font-size: 60px;
    col
}

.container-fluid{
    display: flex;
}

#navLogo{
    height: 120px;
    width: 225px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap{
    padding-bottom: 150px;
}
#myVideo{
    position: absolute;
    right: 0;
    bottom : 0;
    min-width : 100%;
    min-height: 100%;
}

.footer{
    background-color: #282828;
    bottom: 0;
    width: 100%;
}


.flexbox-container{
    display: flex;
}


#copyright{
    font-family: SpicyPumpkin;
    font-size: 20px;
    margin-left: 200px;
    margin-top: 75px;
}

.flexbox-item{
    margin-top: 25px;
}

.flexbox-item-1{ /* Copyright*/
    float :left;
    width: 1000px;
}

#footerText{
    width: 600px;
    height: 100px;
    font-family: Myrlissa;
    font-size: 60px;
    float: right;
}
#footerLogo{
    margin-top: 10px;
    float: left;
}

/* ---------------------------END OF FOOTER AND VIDEO CSS-------------------------------------------------------------------------- */

@font-face {
    font-family: "SpicyPumpkin"; /*a name to be used later*/
    src: url('../ttf/Spicy\ Pumpkin.ttf'); /*URL to font*/
}

@font-face {
    font-family: "Myrlissa"; /*a name to be used later*/
    src: url('../ttf/Myrlissa\ -\ Personal\ Use.otf'); /*URL to font*/
}